* {
  box-sizing: border-box;
  --cor-header: #c3cfd9;
  --cor-background: #e5e5e5;
  --cor-footer: #dfe6ed;
  --laranja: #e8833a;
  --verde: #8DD7CF;
  --preto: #293845;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-background);
    color: var(--preto);
    font-family: Roboto, sans-serif;
}